### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out
target

### NetBeans ###
nbproject/private/
#build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### CURRENT PROJECT ###
buildNumber.properties

.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
desktop.ini
hidden
